:root {
    --primary: #21578b;
    --primary-dark: #364fc7;
    --create: #1e8948;
    --bg: #f5f7fb;
    --card: #ffffff;
    --text: #1e293b;
    --muted: #64748b;
    --badge: #ff3347;
    --shadow: 0 8px 20px rgba(0,0,0,0.06);
    --radius: 10px;
    --transition: 0.25s ease;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Display", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #F1F2F6;
    color: var(--text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;  /* как на iPhone */
    text-rendering: optimizeLegibility;
}

img {
    margin: 0;
    padding: 0;
    border: none;
    display: block; /* убирает inline-отступы */
}

a {
    text-decoration: none !important;
}

*{box-sizing: border-box}

/* CONTENT */
.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Раздвигает блоки влево и вправо */
    gap: 20px; /* расстояние между ними */
}

main {
    flex: 1;
    padding: 15px 0 100px;
}

.sidebar {
    width: 250px; /* Левый блок */
}

.content {
    flex: 1; /* Правая часть занимает всё оставшееся место */
}




.auth-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.auth-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.auth-form label span {
    font-size: 14px;
    margin-bottom: 3px;
    display: block;
}

.auth-form input[type="email"],
.auth-form input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.auth-form input:focus[type="email"],
.auth-form input:focus[type="password"] {
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(76,110,245,0.2);
    outline: none;
}


.remember {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.btn-login {
    padding: 10px;
    border: none;
    width: 100%;
    background: #1877f2;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-login:hover {
    background: #166fe0;
}

.btn-register {
    display: block;
    text-align: center;
    padding: 10px;
    background: #e9e9e9;
    color: #333;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.2s;
}

.btn-register:hover {
    background: #dcdcdc;
}
