# Application
APP_NAME=LovlyEngine
APP_ENV=local
APP_DEBUG=true

# Database
DB_HOST=MariaDB-11.8
DB_DATABASE=hivephp
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

# Cookie
COOKIE_PATH=/
COOKIE_DOMAIN=
COOKIE_SECURE=false
COOKIE_HTTPONLY=true
COOKIE_SAMESITE=Lax

# View
VIEW_CACHE=storage/cache/view
VIEW_AUTO_RELOAD=true
VIEW_DEBUG=true
VIEW_STRICT_VARIABLES=true