.dropdown-menu {
    position: absolute;
    top: 46px;
    left: -145px; /* меню слева от контейнера */
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    padding: 10px 0;
    width: 180px;
    display: none;
    flex-direction: column;
    overflow: hidden;
    z-index: 100;
}

.dropdown-menu.show {
    display: flex;
}

.dropdown-menu a {
    padding: 12px 18px;
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    transition: background .2s;
}

.dropdown-menu a:hover {
    background: #f2f2f2;
}