/* Генеральные ошибки (скрыто по умолчанию) */
.error-text-general {
    color: #ff606f;
    font-size: 13px;
    overflow: hidden;
    padding: 10px;
    border: solid 1px #ff8181;
    display: flex;
    justify-content: center;
    background-color: #ffdddd;

    opacity: 0;
    max-height: 0;
    padding: 0 10px; /* убираем вертикальные паддинги когда скрыто */
    transform: translateY(-5px);

    transition:
            opacity 0.3s ease,
            transform 0.3s ease,
            max-height 0.3s ease,
            padding 0.3s ease;
}

/* Когда ошибка показывается */
.error-text-general.show {
    opacity: 1;
    max-height: 200px; /* достаточно для текста */
    padding: 10px;
    transform: translateY(0);
}
