/* HEADER */
header {
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #e2e8f0;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.avatar-menu {
    position: relative;
}

.avatar-trigger {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;

}

.logo {
    font-weight: 700;
    color: var(--primary);
    font-size: 25px;
    letter-spacing: 1px;
    transition: var(--transition);
}

.logo:hover{
    opacity: .8;
}