
.section-title {
    background: #fbfbfb;
    padding: 14px 20px;
    font-size: 17px;
    font-weight: 600;
    color: #222;
    border-bottom: 1px solid #e5e5e5;

    /* убираем влияние паддингов родителя */
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: -20px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.alert {
    display: none;
    padding: 10px 14px;
    border-radius: 8px;
    background: #e1ffd9;
    border: 1px solid #b6f2a3;
    color: #2b7028;
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0;
    transition: .3s;
}

.alert.show {
    display: block;
    opacity: 1;
}


.profile-edit-wrapper {
    display: flex;
    gap: 20px;
}

.edit-content {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.edit-menu {
    width: 250px;
    flex: 0 0 250px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    height: fit-content;
    position: sticky;
    top: 20px;
}

.edit-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.edit-menu-item {
    padding: 12px 15px;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: .2s;
    font-weight: 500;
}

.edit-menu-item:hover {
    background: #f0f2f6;
}

.edit-menu-item.active {
    background: #dbe7ff;
    color: var(--primary);
    font-weight: 600;
}

.edit-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-label span {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
}

.edit-input,
.edit-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    background: #fafafa;
}

.edit-textarea {
    min-height: 90px;
    resize: none;
}

.edit-input:focus,
.edit-textarea:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(76,110,245,0.2);
    outline: none;
}

.edit-save-btn {
    margin-top: 10px;
    font-size: 15px;
}

.hidden {
    display: none;
}
